<footer class="ly-display-container" style="background: linear-gradient(to left, #00817b, #bffcf9);">
    <div class="ly-right">
        <a href="/contact" class="footer-nav">CONTACT US</a>
    </div>
    <br>
    <div class="ly-container">
        <div class="ly-xlarge ly-center">
            <a href="https://www.facebook.com/LYBIO-104427784770479"
                class="fa fa-facebook-official ly-text-grey hover-opacity ly-row-padding ly-hover-text-white"></a>
            <a href="https://www.linkedin.com/company/69081149"
                class="fa fa-linkedin-square hover-opacity ly-text-grey ly-row-padding ly-hover-text-white"></a>
            <a href="https://twitter.com/LybioMedia"
                class="fa fa-twitter hover-opacity ly-text-grey ly-row-padding ly-hover-text-white"></a>
        </div>
    </div>
    <div class="ly-center ly-text-white" style="padding: 32px 0 16px 0;"><small class="ly-center">&copy; Copyright
            2020, LYBIO.
            All Rights
            Reserved. </small></div>
</footer>