<nav>
    <div class="logo">
        <a href="/"><img src="images/logo.png" alt="logo" width="135px" height="55px"></a>
    </div>
    <label for="btn" class="icon">
        <span class="fa fa-bars"></span>
    </label>
    <input type="checkbox" id="btn">
    <ul>
        <li><a href="/samridhi">Samridhi Lab</a></li>
        <li>
            <label for="btn-1" class="show">Services</label>
            <a href="#">Services
                <span class="fa fa-caret-down"></span>
            </a>
            <input type="checkbox" id="btn-1">
            <ul>
                <li>
                    <a href="/anatomical">Anatomical Models</a>
                </li>
                <li>
                    <a href="/patient-implants">Patient Specific Implants</a>
                </li>
                <li>
                    <a href="/surgical-guides">Surgical Guides</a>
                </li>
                <li>
                    <a href="/fractured-cast">Fractured Casts</a>
                </li>
                <li>
                    <a href="/custom-insoles">Custom Shoe Insoles</a>
                </li>
                <li>
                    <a href="/cranial-remoulding">Cranial Remoulding Helmets</a>
                </li>
                <li>
                    <a href="/dental">Dental</a>
                </li>
            </ul>
        </li>
        <li><a href="/bio3d">Bio 3D</a></li>
        <li><a href="/r&d">R&D</a></li>
    </ul>
</nav>