<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LYCAN BIO | <%=title%></title>
    <link rel="icon" href="images/lycan symbol (2).svg" type="image/x-icon">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <style>
        body {
            background-color: white;
            font-family: 'Inter';
        }

        .fa-facebook-official,
        .fa-linkedin-square,
        .fa-twitter {
            font-size: 50px
        }
    </style>
</head>

<body>

    <%- include('./partials/nav.ejs') %>

    <!--landing/xlarge-->
    <div class="ly-display-container ly-padding-top-64 ly-hide-small ly-hide-medium ly-hide-large">
        <div class="row">
            <div class="col-xl-6" style="padding: 0% 0% 0 0%;">
                <img src="images/carnial/landing img.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-xl-6" style="padding: 10% 5% 0 3%;">
                <div>
                    <h1 style="font-size: 90px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Cranial Remolding Helmets
                    </h1>
                </div>
                <div class="ly-padding-top-48">
                    <p class="ly-xlarge" style="text-align:justify;">
                        The use of remolding helmets to correct Plagiocephaly (flat head syndrome), Brachiocephaly and
                        Scaphocephaly in infants is common practice. However, the chief problems that parents report are
                        skin irritation, sweating, unpleasant smell, and pain due to heavy weight. 3D Printed Cranial
                        remolding helmets can easily address these problems - with a breathable and lightweight lattice
                        structure, and are more affordable.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--landing/large-->
    <div class="ly-display-container ly-padding-top-48 ly-hide-small ly-hide-medium ly-hide-xlarge">
        <div class="row">
            <div class="col-lg-6">
                <img src="images/carnial/landing img.png" alt="" width="95%" height="auto">
            </div>
            <div class="col-lg-6" style="padding: 4% 5% 0 3%;">
                <div>
                    <h1 style="font-size: 70px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Cranial Remolding Helmets
                    </h1>
                </div>
                <div class="ly-padding-top-32">
                    <p class="ly-xlarge" style="text-align:justify;">
                        The use of remolding helmets to correct Plagiocephaly (flat head syndrome), Brachiocephaly and
                        Scaphocephaly in infants is common practice. However, the chief problems that parents report are
                        skin irritation, sweating, unpleasant smell, and pain due to heavy weight. 3D Printed Cranial
                        remolding helmets can easily address these problems - with a breathable and lightweight lattice
                        structure, and are more affordable.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--landing/medium-->
    <div class="container-fluid ly-padding-top-48 ly-hide-small ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-md-6 ly-center ly-padding-top-150">
                <img src="images/carnial/landing img.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-md-6" style="padding: 5% 7% 0 0%;">
                <div>
                    <h1 style="font-size: 50px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Cranial Remolding Helmets
                    </h1>
                </div>
                <div class="ly-padding-top-24">
                    <p class="ly-large" style="text-align:justify;">
                        The use of remolding helmets to correct Plagiocephaly (flat head syndrome), Brachiocephaly and
                        Scaphocephaly in infants is common practice. However, the chief problems that parents report are
                        skin irritation, sweating, unpleasant smell, and pain due to heavy weight. 3D Printed Cranial
                        remolding helmets can easily address these problems - with a breathable and lightweight lattice
                        structure, and are more affordable.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--landing/small-->
    <div class="container-fluid ly-padding-top-48 ly-hide-medium ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-sm-12 ly-center">
                <img src="images/carnial/landing img.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-sm-12" style="padding: 4% 4% 0 4%;">
                <div class="ly-center">
                    <h1 style="font-size: 40px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Cranial Remolding Helmets
                    </h1>
                </div>
                <div class="ly-padding-top-24">
                    <p class="ly-large" style="text-align:justify;">
                        The use of remolding helmets to correct Plagiocephaly (flat head syndrome), Brachiocephaly and
                        Scaphocephaly in infants is common practice. However, the chief problems that parents report are
                        skin irritation, sweating, unpleasant smell, and pain due to heavy weight. 3D Printed Cranial
                        remolding helmets can easily address these problems - with a breathable and lightweight lattice
                        structure, and are more affordable.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--ApplicaTION/LARGE-->
    <div class="ly-display-container ly-padding-32 ly-hide-small ly-hide-medium "
        style="background-color: #e5f7f6;margin-top: 2%;">
        <div class="row">
            <div class="col-xl-6" style="padding: 10% 3% 0 5%;">
                <div class="ly-padding-top-16">
                    <p class="ly-xlarge" style="text-align:justify;">
                        The wide choice of available materials such as medical grade silicone composites and PEEK ensure
                        a firm structure which fully serves the purpose of remolding while being gentle on the baby’s
                        head. The use of a 3D scanning and modeling process ensures that the design of the helmet is
                        optimised to the individual needs of the child for optimum healing.
                    </p>
                </div>
            </div>
            <div class="col-xl-6" style="padding: 0% 0% 0 0%;">
                <img src="images/carnial/2.png" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>
    <!--ApplicaTION/MEDIUM-->
    <div class="ly-container ly-padding-32 ly-hide-small ly-hide-large ly-hide-xlarge "
        style="background-color: #e5f7f6;">
        <div class="row">
            <div class="col-md-6" style="padding: 0% 3% 0 5%;">
                <div class="ly-padding-top-16">
                    <p class="ly-large" style="text-align:justify;">
                        The wide choice of available materials such as medical grade silicone composites and PEEK ensure
                        a firm structure which fully serves the purpose of remolding while being gentle on the baby’s
                        head. The use of a 3D scanning and modeling process ensures that the design of the helmet is
                        optimised to the individual needs of the child for optimum healing.
                    </p>
                </div>
            </div>
            <div class="col-md-6" style="padding: 0% 0% 0 0%;">
                <img src="images/carnial/2.png" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>
    <!--ApplicaTION/SMALL-->
    <div class="container-fluid ly-padding-32 ly-hide-medium ly-hide-large ly-hide-xlarge "
        style="background-color: #e5f7f6;margin: 5% 0;">
        <div class="row">
            <div class="col-sm-12" style="padding: 0% 0% 0 0%;">
                <img src="images/carnial/2.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-sm-12" style="padding: 0% 3% 0 5%;">
                <div class="ly-padding-top-16">
                    <p class="ly-large" style="text-align:justify;">
                        The wide choice of available materials such as medical grade silicone composites and PEEK ensure
                        a firm structure which fully serves the purpose of remolding while being gentle on the baby’s
                        head. The use of a 3D scanning and modeling process ensures that the design of the helmet is
                        optimised to the individual needs of the child for optimum healing.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Process Flow/large-->
    <div class="ly-display-container ly-image ly-padding-48 ly-hide-small ly-hide-medium">
        <img src="images/carnial/Cranial remolding  PROCESS FLOW.png" alt="" width="100%" height="auto"
            data-aos=slide-up>
    </div>
    <!--Process Flow/medium-->
    <div class="ly-display-container ly-image ly-padding-48 ly-hide-small ly-hide-large ly-hide-xlarge">
        <img src="images/carnial/Cranial remolding  PROCESS FLOW.png" alt="" width="100%" height="auto">
    </div>
    <!--Process Flow/small-->
    <div class="ly-container ly-image ly-padding-16 ly-hide-medium ly-hide-large ly-hide-xlarge">
        <div class="ly-center ly-padding-16">
            <h1 style="font-size: 40px;font-weight: 300;letter-spacing: 1px;color: #727272;">
                Process Flow
            </h1>
        </div>
        <img src="images/carnial/flowchart-mob.png" alt="" width="100%" height="auto">
    </div>
    <!--Footer-->
    <%- include('./partials/footer.ejs') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="bootstrap4/js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        })
    </script>
</body>

</html>