<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LYCAN BIO | <%=title%></title>
    <link rel="icon" href="images/lycan symbol (2).svg" type="image/x-icon">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <style>
        body {
            background-color: white;
            font-family: 'Inter';
        }

        .fa-facebook-official,
        .fa-linkedin-square,
        .fa-twitter {
            font-size: 50px
        }
    </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <!--landing/xlarge-->
    <div class="ly-display-container ly-padding-top-100 ly-hide-small ly-hide-medium ly-hide-large">
        <div class="row">
            <div class="col-xl-6" style="padding: 5% 0% 0 0%;">
                <img src="images/dental/landing img.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-xl-6" style="padding: 5% 5% 0 3%;">
                <div>
                    <h1 style="font-size: 90px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Dental
                    </h1>
                </div>
                <div class="ly-padding-top-48">
                    <p class="ly-xlarge" style="text-align:justify;">
                        One of the several advantages that 3D Printing offers over conventional techniques is the
                        mass-customisation of products, i.e. the ability to create personalised versions of the same
                        product on a large scale. This fits perfectly into the requirements of Dental healthcare, where
                        each medical aid needs to be fully customised to the needs of every individual patient.
                        Integrating this technology into your organisation also reduces the lead times for treatment and
                        improves patient outcomes, making your facility a cutting-edge healthcare center.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--landing/large-->
    <div class="ly-display-container ly-padding-top-128 ly-hide-small ly-hide-medium ly-hide-xlarge">
        <div class="row">
            <div class="col-lg-6" style="padding: 3% 0% 0 2%;">
                <img src="images/dental/landing img.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-lg-6" style="padding: 1% 5% 0 3%;">
                <div>
                    <h1 style="font-size: 70px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Dental
                    </h1>
                </div>
                <div class="ly-padding-top-48">
                    <p class="ly-xlarge" style="text-align:justify;">
                        One of the several advantages that 3D Printing offers over conventional techniques is the
                        mass-customisation of products, i.e. the ability to create personalised versions of the same
                        product on a large scale. This fits perfectly into the requirements of Dental healthcare, where
                        each medical aid needs to be fully customised to the needs of every individual patient.
                        Integrating this technology into your organisation also reduces the lead times for treatment and
                        improves patient outcomes, making your facility a cutting-edge healthcare center.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--landing/medium-->
    <div class="ly-container ly-padding-top-48 ly-hide-small ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-md-6 ly-center ly-padding-top-150">
                <img src="images/dental/landing img.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-md-6" style="padding: 5% 7% 0 0%;">
                <div>
                    <h1 style="font-size: 50px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Dental
                    </h1>
                </div>
                <div class="ly-padding-top-24">
                    <p class="ly-large" style="text-align:justify;">
                        One of the several advantages that 3D Printing offers over conventional techniques is the
                        mass-customisation of products, i.e. the ability to create personalised versions of the same
                        product on a large scale. This fits perfectly into the requirements of Dental healthcare, where
                        each medical aid needs to be fully customised to the needs of every individual patient.
                        Integrating this technology into your organisation also reduces the lead times for treatment and
                        improves patient outcomes, making your facility a cutting-edge healthcare center.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--landing/small-->
    <div class="ly-container ly-padding-top-48 ly-hide-medium ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-sm-12 ly-center">
                <img src="images/dental/landing img.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-sm-12" style="padding: 2% 4% 0 4%;">
                <div class="ly-center">
                    <h1 style="font-size: 50px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Dental
                    </h1>
                </div>
                <div class="ly-padding-top-24">
                    <p class="ly-large" style="text-align:justify;">
                        One of the several advantages that 3D Printing offers over conventional techniques is the
                        mass-customisation of products, i.e. the ability to create personalised versions of the same
                        product on a large scale. This fits perfectly into the requirements of Dental healthcare, where
                        each medical aid needs to be fully customised to the needs of every individual patient.
                        Integrating this technology into your organisation also reduces the lead times for treatment and
                        improves patient outcomes, making your facility a cutting-edge healthcare center.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--section2/xlarge-->
    <div class="ly-display-container ly-padding-128 ly-hide-small ly-hide-medium ly-hide-large">
        <div class="row">
            <div class="col-xl-6" style="padding: 7% 4% 0% 8%;">
                <div>
                    <p class="ly-xlarge" style="text-align:justify;">
                        We offer a wide range of customisable 3D Printers which can be adapted to the particular needs
                        of your dental clinic or laboratory, along with medical grade and biocompatible materials for
                        production. The use of an oral 3D Scanner which outputs Computer Aided Design (CAD) files makes
                        the 3D Printing process simple and manageable by you independently.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 ly-center">
                <img src="images/dental/2.png" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>
    <!--section2/large-->
    <div class="ly-display-container ly-padding-top-32  ly-hide-small ly-hide-medium ly-hide-xlarge">
        <div class="row">
            <div class="col-lg-6" style="padding: 4% 4% 0% 4%;">
                <div>
                    <p class="ly-xlarge" style="text-align:justify;">
                        We offer a wide range of customisable 3D Printers which can be adapted to the particular needs
                        of your dental clinic or laboratory, along with medical grade and biocompatible materials for
                        production. The use of an oral 3D Scanner which outputs Computer Aided Design (CAD) files makes
                        the 3D Printing process simple and manageable by you independently.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 ly-center" style="padding-right: 4%;">
                <img src="images/dental/2.png" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>
    <!--section2/medium-->
    <div class="ly-container ly-hide-small ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-md-6" style="padding: 7% 0% 0% 4%;">
                <div>
                    <p class="ly-large" style="text-align:justify;">
                        We offer a wide range of customisable 3D Printers which can be adapted to the particular needs
                        of your dental clinic or laboratory, along with medical grade and biocompatible materials for
                        production. The use of an oral 3D Scanner which outputs Computer Aided Design (CAD) files makes
                        the 3D Printing process simple and manageable by you independently.
                    </p>
                </div>
            </div>
            <div class="col-md-6" style="padding: 9% 1% 0% 1%;">
                <img src="images/dental/2.png" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>
    <!--Section2/small-->
    <div class="ly-container ly-hide-medium ly-hide-large ly-hide-xlarge"
        style="background-color: rgb(238,238,238);margin: 48px 0;">
        <div class="ly-image">
            <img src="images/dental/2.png" alt="" width="100%" height="auto">
        </div>
    </div>
    <!--ApplicaTION/XLARGE-->
    <div class="ly-display-container ly-padding-64 ly-hide-small ly-hide-medium ly-hide-large"
        style="background-color: #e5f7f6;margin-top: 6%;">
        <div class="ly-container ly-center">
            <h1 style="font-size: 45px;font-weight: 200;letter-spacing: 1px;color: #727272;">
                Some of the applications of 3D Printing for Dental healthcare applications include:
            </h1>
        </div>
        <div class="row" style="padding-left: 5%;">
            <div class="col-xl-3">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/dental/application 1.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Clear Aligners
                    </h3>
                </div>
            </div>
            <div class="col-xl-1 ly-center ly-padding-top-64">
                <img src="images/dental/Rectangle 173.png" alt="" width="auto" height="60%">
            </div>
            <div class="col-xl-3">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/dental/application 2.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Making surgical guides and tools
                    </h3>
                </div>
            </div>
            <div class="col-xl-1 ly-center ly-padding-top-64">
                <img src="images/dental/Rectangle 173.png" alt="" width="auto" height="60%">
            </div>
            <div class="col-xl-3">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/dental/application 3.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Creating orthodontic models
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <!--ApplicaTION/LARGE-->
    <div class="ly-display-container ly-padding-64 ly-hide-small ly-hide-medium ly-hide-xlarge"
        style="background-color: #e5f7f6;margin-top: 6%;">
        <div class="ly-container ly-center">
            <h1 style="font-size: 40px;font-weight: 200;letter-spacing: 1px;color: #727272;">
                Some of the applications of 3D Printing for Dental healthcare applications include:
            </h1>
        </div>
        <div class="row" style="padding-left: 5%;">
            <div class="col-lg-3">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/dental/application 1.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Clear Aligners
                    </h3>
                </div>
            </div>
            <div class="col-lg-1 ly-center ly-padding-top-64">
                <img src="images/dental/Rectangle 173.png" alt="" width="auto" height="60%">
            </div>
            <div class="col-lg-3">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/dental/application 2.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Making surgical guides and tools
                    </h3>
                </div>
            </div>
            <div class="col-lg-1 ly-center ly-padding-top-64">
                <img src="images/dental/Rectangle 173.png" alt="" width="auto" height="60%">
            </div>
            <div class="col-lg-3">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/dental/application 3.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Creating orthodontic models
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <!--ApplicaTION/medium-->
    <div class="ly-display-container ly-padding-64 ly-hide-small ly-hide-large ly-hide-xlarge"
        style="background-color: #e5f7f6;margin-top: 6%;">
        <div class="ly-container ly-center">
            <h1 style="font-size: 30px;font-weight: 200;letter-spacing: 1px;color: #727272;">
                Some of the applications of 3D Printing for Dental healthcare applications include:
            </h1>
        </div>
        <div class="row" style="padding-left: 4%;">
            <div class="col-md-3">
                <img src="images/dental/application 1.png" alt="" width="100%" height="auto">
                <div class="ly-center">
                    <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Clear Aligners
                    </h4>
                </div>
            </div>
            <div class="col-md-1 ly-center ly-padding-top-32">
                <img src="images/dental/Rectangle 173.png" alt="" width="auto" height="60%">
            </div>
            <div class="col-md-3">
                <img src="images/dental/application 2.png" alt="" width="100%" height="auto">
                <div class="ly-center">
                    <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Making surgical guides and tools
                    </h4>
                </div>
            </div>
            <div class="col-md-1 ly-center ly-padding-top-32">
                <img src="images/dental/Rectangle 173.png" alt="" width="auto" height="60%">
            </div>
            <div class="col-md-3">
                <img src="images/dental/application 3.png" alt="" width="100%" height="auto">
                <div class="ly-center">
                    <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Creating orthodontic models
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!--ApplicaTION/small-->
    <div class="ly-container ly-padding-64 ly-hide-medium ly-hide-large ly-hide-xlarge"
        style="background-color: #e5f7f6;margin-top: 6%;">
        <div class="ly-container ly-center">
            <p class="ly-large ly-justify">
                We offer a wide range of customisable 3D Printers which can be adapted to the particular needs
                of your dental clinic or laboratory, along with medical grade and biocompatible materials for
                production. The use of an oral 3D Scanner which outputs Computer Aided Design (CAD) files makes
                the 3D Printing process simple and manageable by you independently.
            </p>
        </div>
        <div class="row" style="padding-left: 4%;">
            <div class="col-sm-12">
                <img src="images/dental/application 1.png" alt="" width="100%" height="auto">
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Clear Aligners
                    </h3>
                </div>
            </div>
            <div class="col-sm-12 ly-center" style="padding: 5% 30% 0 30%;">
                <img src="images/dental/Rectangle 282.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-sm-12">
                <img src="images/dental/application 2.png" alt="" width="100%" height="auto">
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Making surgical guides and tools
                    </h3>
                </div>
            </div>
            <div class="col-sm-12 ly-center" style="padding: 5% 30% 0 30%;">
                <img src="images/dental/Rectangle 282.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-sm-12">
                <img src="images/dental/application 3.png" alt="" width="100%" height="auto">
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Creating orthodontic models
                    </h3>
                </div>
            </div>
            <div class="col-sm-12 ly-center" style="padding: 5% 30% 0 30%;">
                <img src="images/dental/Rectangle 282.png" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>
    <!--Footer-->
    <%- include('./partials/footer.ejs') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="bootstrap4/js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        })
    </script>
</body>

</html>