<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LYCAN BIO | <%=title%></title>
    <link rel="icon" href="images/lycan symbol (2).svg" type="image/x-icon">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <style>
        body {
            background-color: white;
            font-family: 'Inter';
        }

        .fa-facebook-official,
        .fa-linkedin-square,
        .fa-twitter {
            font-size: 50px
        }
    </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <!--landing/xlarge-->
    <div class="ly-display-container ly-padding-top-100 ly-hide-small ly-hide-medium ly-hide-large">
        <div class="row">
            <div class="col-xl-5 ly-center">
                <img src="images/factued casts/1.png" alt="" width="40%" height="auto">
            </div>
            <div class="col-xl-7" style="padding: 10% 7% 0 0%;">
                <div>
                    <h1 style="font-size: 90px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Fractured Casts
                    </h1>
                </div>
                <div class="ly-padding-top-48">
                    <p class="ly-xlarge" style="text-align:justify;">
                        Fracture casts are a commonplace tool in medicine, used to heal broken bones of all shapes and
                        sizes. However the technology behind them has remained largely unchanged for over half a
                        century, with most of them being made of plaster of paris or fiberglass, where applicable. These
                        traditional casts come with certain disadvantages such as heavy weight, susceptibility to water
                        damage, skin irritation, etc. which need to be resolved.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--landing/large-->
    <div class="ly-display-container ly-padding-top-100 ly-hide-small ly-hide-medium ly-hide-xlarge">
        <div class="row">
            <div class="col-lg-5 ly-center">
                <img src="images/factued casts/1.png" alt="" width="40%" height="auto">
            </div>
            <div class="col-lg-7" style="padding: 7% 7% 0 0%;">
                <div>
                    <h1 style="font-size: 70px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Fractured Casts
                    </h1>
                </div>
                <div class="ly-padding-top-48">
                    <p class="ly-xlarge" style="text-align:justify;">
                        Fracture casts are a commonplace tool in medicine, used to heal broken bones of all shapes and
                        sizes. However the technology behind them has remained largely unchanged for over half a
                        century, with most of them being made of plaster of paris or fiberglass, where applicable. These
                        traditional casts come with certain disadvantages such as heavy weight, susceptibility to water
                        damage, skin irritation, etc. which need to be resolved.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--landing/medium-->
    <div class="ly-container ly-padding-top-32 ly-hide-small ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-md-5 ly-center ly-padding-top-48">
                <img src="images/factued casts/1.png" alt="" width="40%" height="auto">
            </div>
            <div class="col-md-7" style="padding: 5% 7% 0 0%;">
                <div>
                    <h1 style="font-size: 50px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Fractured Casts
                    </h1>
                </div>
                <div class="ly-padding-top-24">
                    <p class="ly-large" style="text-align:justify;">
                        Fracture casts are a commonplace tool in medicine, used to heal broken bones of all shapes and
                        sizes. However the technology behind them has remained largely unchanged for over half a
                        century, with most of them being made of plaster of paris or fiberglass, where applicable. These
                        traditional casts come with certain disadvantages such as heavy weight, susceptibility to water
                        damage, skin irritation, etc. which need to be resolved.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--landing/small-->
    <div class="ly-container ly-padding-top-64 ly-hide-medium ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-sm-12 ly-center">
                <img src="images/factued casts/1.png" alt="" width="60%" height="auto">
            </div>
            <div class="col-sm-12 ly-padding-top-24">
                <div class="ly-center">
                    <h1 style="font-size: 40px;font-weight: 400;letter-spacing: 1px;color: #727272;">
                        Fractured Casts
                    </h1>
                </div>
                <div class="ly-padding-top-24 ly-row-padding">
                    <p class="ly-large" style="text-align:justify;">
                        Fracture casts are a commonplace tool in medicine, used to heal broken bones of all shapes and
                        sizes. However the technology behind them has remained largely unchanged for over half a
                        century, with most of them being made of plaster of paris or fiberglass, where applicable. These
                        traditional casts come with certain disadvantages such as heavy weight, susceptibility to water
                        damage, skin irritation, etc. which need to be resolved.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--section2/xlarge-->
    <div class="ly-display-container ly-padding-top-100 ly-hide-small ly-hide-medium ly-hide-large">
        <div class="row">
            <div class="col-xl-7">
                <img src="images/factued casts/2.png" alt="" width="100%" height="auto" data-aos=fade-right>
            </div>
            <div class="col-xl-5" style="padding: 5% 4% 0 0%;">
                <div>
                    <p class="ly-xlarge" style="text-align:justify;">
                        This is where 3D Printed casts come into the picture. The freedom to use lattice design to
                        produce casts of similar or greater strength makes these casts lightweight and fully ventilated.
                        The availability of a wide range of biocompatible materials for 3D Printing fracture casts
                        ensures waterproofing and no adverse effects on the wearer’s skin.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--section2/large-->
    <div class="ly-display-container ly-padding-top-100 ly-hide-small ly-hide-medium ly-hide-xlarge">
        <div class="row">
            <div class="col-lg-7">
                <img src="images/factued casts/2.png" alt="" width="100%" height="auto" data-aos=fade-right>
            </div>
            <div class="col-lg-5" style="padding: 2% 4% 0 0%;">
                <div>
                    <p class="ly-xlarge" style="text-align:justify;">
                        This is where 3D Printed casts come into the picture. The freedom to use lattice design to
                        produce casts of similar or greater strength makes these casts lightweight and fully ventilated.
                        The availability of a wide range of biocompatible materials for 3D Printing fracture casts
                        ensures waterproofing and no adverse effects on the wearer’s skin.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--section2/medium-->
    <div class="ly-container ly-padding-top-32 ly-hide-small ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-md-7" style="padding: 10% 0%">
                <img src="images/factued casts/2.png" alt="" width="100%" height="auto" data-aos=fade-right>
            </div>
            <div class="col-md-5" style="padding: 5% 4% 0 0%;">
                <div>
                    <p class="ly-large" style="text-align:justify;">
                        This is where 3D Printed casts come into the picture. The freedom to use lattice design to
                        produce casts of similar or greater strength makes these casts lightweight and fully ventilated.
                        The availability of a wide range of biocompatible materials for 3D Printing fracture casts
                        ensures waterproofing and no adverse effects on the wearer’s skin.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--section2/small-->
    <div class="container-fluid ly-padding-top-32 ly-hide-medium ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-sm-12" style="padding: 1% 5% 0 0">
                <img src="images/factued casts/2.png" alt="" width="100%" height="auto" data-aos=fade-right>
            </div>
            <div class="col-sm-12">
                <div style="padding: 2% 4% 0 4%">
                    <p class="ly-large" style="text-align:justify;">
                        This is where 3D Printed casts come into the picture. The freedom to use lattice design to
                        produce casts of similar or greater strength makes these casts lightweight and fully ventilated.
                        The availability of a wide range of biocompatible materials for 3D Printing fracture casts
                        ensures waterproofing and no adverse effects on the wearer’s skin.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--section3/xlarge-->
    <div class="ly-display-container ly-padding-top-100 ly-hide-small ly-hide-medium ly-hide-large">
        <div class="row">
            <div class="col-xl-5" style="padding: 13% 0% 0 4%;">
                <div>
                    <p class="ly-xlarge" style="text-align:justify;">
                        Additionally, the creation of casts using X-ray and 3D scan of a patient facilitates design
                        focused on the point of fracture for more efficient healing. 3D Printing also allows the
                        creation of aesthetic, stylish, personalised casts if desired by the user.
                    </p>
                </div>
            </div>
            <div class="col-xl-7">
                <img src="images/factued casts/3.png" alt="" width="100%" height="auto" data-aos=fade-left>
            </div>
        </div>
    </div>
    <!--section3/large-->
    <div class="ly-display-container ly-padding-top-100 ly-hide-small ly-hide-medium ly-hide-xlarge">
        <div class="row">
            <div class="col-lg-5" style="padding: 12% 0% 0 4%;">
                <div>
                    <p class="ly-xlarge" style="text-align:justify;">
                        Additionally, the creation of casts using X-ray and 3D scan of a patient facilitates design
                        focused on the point of fracture for more efficient healing. 3D Printing also allows the
                        creation of aesthetic, stylish, personalised casts if desired by the user.
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <img src="images/factued casts/3.png" alt="" width="100%" height="auto" data-aos=fade-left>
            </div>
        </div>
    </div>
    <!--section3/medium-->
    <div class="ly-container ly-padding-top-32 ly-hide-small ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-md-6" style="padding: 3% 0% 0 4%;">
                <div>
                    <p class="ly-large" style="text-align:justify;">
                        Additionally, the creation of casts using X-ray and 3D scan of a patient facilitates design
                        focused on the point of fracture for more efficient healing. 3D Printing also allows the
                        creation of aesthetic, stylish, personalised casts if desired by the user.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="images/factued casts/3.png" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>
    <!--section3/small-->
    <div class="container-fluid ly-padding-32 ly-hide-medium ly-hide-large ly-hide-xlarge"
        style="background-color: #e5f7f6;margin-top: 4%;">
        <div class="row" style="padding: 0% 4%;">
            <div class="col-sm-12 ly-center">
                <img src="images/factued casts/3.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-sm-12">
                <div>
                    <p class="ly-large" style="text-align:justify;">
                        Additionally, the creation of casts using X-ray and 3D scan of a patient facilitates design
                        focused on the point of fracture for more efficient healing. 3D Printing also allows the
                        creation of aesthetic, stylish, personalised casts if desired by the user.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <!--Footer-->
    <%- include('./partials/footer.ejs') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="bootstrap4/js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        })
    </script>
</body>

</html>