<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LYCAN BIO | <%=title%>
    </title>
    <link rel="icon" href="images/lycan symbol (2).svg" type="image/x-icon">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/aos.css">

    <style>
        body {
            background-color: white;
            font-family: 'Inter';
        }

        .fa-facebook-official,
        .fa-linkedin-square,
        .fa-twitter {
            font-size: 50px
        }
    </style>

</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <!--landing/xlarge-->
        <div class="ly-display-container ly-padding-top-100 ly-hide-small ly-hide-medium ly-hide-large">
            <div class="row">
                <div class="col-xl-6">
                    <img src="images/patient-specific/landing imgg.png" alt="" width="90%" height="auto">
                </div>
                <div class="col-xl-6" style="padding: 5% 5% 0 3%;">
                    <div>
                        <h1 style="font-size: 90px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                            Patient Specific Implants
                        </h1>
                    </div>
                    <div class="ly-padding-top-48">
                        <p class="ly-xlarge" style="text-align:justify;">
                            ‘Patient-specific’ technology is a nascent area in the healthcare industry, for which new
                            applications are being continuously discovered. The use of Patient-specific implants has
                            been
                            well established in the fields of Maxillofacial and Craniofacial procedures, where
                            customisation
                            to fit each patient’s requirement is an essential factor. These implants are also gaining
                            popularity in a wide range of orthopaedic applications, with 3D Printing applicable to
                            produce
                            implants of virtually any shape required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--landing/large-->
        <div class="ly-display-container ly-padding-top-64 ly-hide-small ly-hide-medium ly-hide-xlarge">
            <div class="row">
                <div class="col-lg-6 ly-padding-top-16">
                    <img src="images/patient-specific/landing imgg.png" alt="" width="85%" height="auto">
                </div>
                <div class="col-lg-6" style="padding: 4% 5% 0 3%;">
                    <div>
                        <h1 style="font-size: 70px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                            Patient Specific Implants
                        </h1>
                    </div>
                    <div class="ly-padding-top-32">
                        <p class="ly-xlarge" style="text-align:justify;">
                            ‘Patient-specific’ technology is a nascent area in the healthcare industry, for which new
                            applications are being continuously discovered. The use of Patient-specific implants has
                            been
                            well established in the fields of Maxillofacial and Craniofacial procedures, where
                            customisation
                            to fit each patient’s requirement is an essential factor. These implants are also gaining
                            popularity in a wide range of orthopaedic applications, with 3D Printing applicable to
                            produce
                            implants of virtually any shape required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--landing/medium-->
        <div class="container-fluid ly-padding-top-48 ly-hide-small ly-hide-large ly-hide-xlarge">
            <div class="row">
                <div class="col-md-5 ly-center ly-padding-top-150">
                    <img src="images/patient-specific/landing imgg.png" alt="" width="100%" height="auto">
                </div>
                <div class="col-md-7" style="padding: 5% 7% 0 0%;">
                    <div>
                        <h1 style="font-size: 50px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                            Patient Specific Implants
                        </h1>
                    </div>
                    <div class="ly-padding-top-24">
                        <p class="ly-large" style="text-align:justify;">
                            ‘Patient-specific’ technology is a nascent area in the healthcare industry, for which new
                            applications are being continuously discovered. The use of Patient-specific implants has
                            been
                            well established in the fields of Maxillofacial and Craniofacial procedures, where
                            customisation
                            to fit each patient’s requirement is an essential factor. These implants are also gaining
                            popularity in a wide range of orthopaedic applications, with 3D Printing applicable to
                            produce
                            implants of virtually any shape required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--landing/small-->
        <div class="container-fluid ly-padding-top-64 ly-hide-medium ly-hide-large ly-hide-xlarge">
            <div class="row">
                <div class="col-sm-12 ly-center">
                    <img src="images/patient-specific/landing imgg.png" alt="" width="100%" height="auto">
                </div>
                <div class="col-sm-12" style="padding: 2% 4% 0 4%;">
                    <div class="ly-center">
                        <h1 style="font-size: 40px;font-weight: 400;letter-spacing: 1px;color: #727272;">
                            Patient Specific Implants
                        </h1>
                    </div>
                    <div class="ly-padding-top-24">
                        <p class="ly-large" style="text-align:justify;">
                            ‘Patient-specific’ technology is a nascent area in the healthcare industry, for which new
                            applications are being continuously discovered. The use of Patient-specific implants has
                            been
                            well established in the fields of Maxillofacial and Craniofacial procedures, where
                            customisation
                            to fit each patient’s requirement is an essential factor. These implants are also gaining
                            popularity in a wide range of orthopaedic applications, with 3D Printing applicable to
                            produce
                            implants of virtually any shape required.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Theory/xlarge-->
        <div class="container ly-padding-top-64 ly-hide-small ly-hide-medium ly-hide-large">
            <div>
                <p class="ly-xlarge" style="text-align:justify;">
                    Our process of creating accurate 3D models from DICOM information using specialised software and
                    actual
                    models using 3D Printers assists surgeons with the complex pre-operative planning required for these
                    procedures.The customised implants themselves are usually manufactured through Metal 3D Printing
                    techniques using medical-grade Titanium alloys.
                </p>
            </div>
        </div>
        <!--Theory/large-->
        <div class="ly-container ly-padding-48 ly-hide-small ly-hide-medium ly-hide-xlarge">
            <div style="padding: 0 5%;">
                <p class="ly-xlarge" style="text-align:justify;">
                    Our process of creating accurate 3D models from DICOM information using specialised software and
                    actual
                    models using 3D Printers assists surgeons with the complex pre-operative planning required for these
                    procedures.The customised implants themselves are usually manufactured through Metal 3D Printing
                    techniques using medical-grade Titanium alloys.
                </p>
            </div>
        </div>
        <!--Theory/medium-->
        <div class="ly-container ly-padding-48 ly-hide-large ly-hide-xlarge ly-hide-small">
            <div style="padding: 0 5%;">
                <p class="ly-large" style="text-align:justify;">
                    Our process of creating accurate 3D models from DICOM information using specialised software and
                    actual
                    models using 3D Printers assists surgeons with the complex pre-operative planning required for these
                    procedures. The customised implants themselves are usually manufactured through Metal 3D Printing
                    techniques using medical-grade Titanium alloys.
                </p>
            </div>
        </div>
        <!--Theory/small-->
        <div class="ly-padding-32 ly-hide-large ly-hide-xlarge ly-hide-medium">
            <div class="ly-image">
                <img src="images/patient-specific/pss_implant_main_v.png" alt="" width="100%" height="auto">
            </div>
            <div class="ly-container ly-padding-16" style="background-color: #e5f7f6;margin-top: 6%;">
                <div class="ly-image">
                    <img src="images/patient-specific/theory.png" alt="" width="100%" height="auto">
                </div>
            </div>
        </div>
        <!--ApplicaTION/XLARGE-->
        <div class="ly-display-container ly-padding-64 ly-hide-small ly-hide-medium ly-hide-large"
            style="background-color: #e5f7f6;margin-top: 6%;">

            <div class="row" style="padding-left: 5%;">
                <div class="col-xl-3">
                    <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                        <img src="images/dental/application 1.png" alt="" width="100%" height="auto">
                    </div>
                    <div class="ly-center">
                        <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                            Hip Implants
                        </h3>
                    </div>
                </div>
                <div class="col-xl-1 ly-center ly-padding-top-64">
                    <img src="images/dental/Rectangle 173.png" alt="" width="auto" height="60%">
                </div>
                <div class="col-xl-3">
                    <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                        <img src="images/dental/application 2.png" alt="" width="100%" height="auto">
                    </div>
                    <div class="ly-center">
                        <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                            Shoulder Implants
                        </h3>
                    </div>
                </div>
                <div class="col-xl-1 ly-center ly-padding-top-64">
                    <img src="images/dental/Rectangle 173.png" alt="" width="auto" height="60%">
                </div>
                <div class="col-xl-3">
                    <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                        <img src="images/dental/application 3.png" alt="" width="100%" height="auto">
                    </div>
                    <div class="ly-center">
                        <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                            Cranio Maxillofacial Implants
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!--ApplicaTION/LARGE-->
        <div class="ly-display-container ly-padding-64 ly-hide-small ly-hide-medium ly-hide-xlarge"
            style="background-color: #e5f7f6;margin-top: 2%;">
            <div class="row" style="padding-left: 5%;">
                <div class="col-lg-3">
                    <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                        <img src="images/patient-specific/hip implants.png" alt="" width="100%" height="auto">
                    </div>
                    <div class="ly-center">
                        <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                            Hip Implants
                        </h3>
                    </div>
                </div>
                <div class="col-lg-1 ly-center ly-padding-top-64">
                    <img src="images/dental/Rectangle 173.png" alt="" width="auto" height="60%">
                </div>
                <div class="col-lg-3">
                    <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                        <img src="images/patient-specific/shoulder implants.png" alt="" width="100%" height="auto">
                    </div>
                    <div class="ly-center">
                        <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                            Shoulder Implants
                        </h3>
                    </div>
                </div>
                <div class="col-lg-1 ly-center ly-padding-top-64">
                    <img src="images/dental/Rectangle 173.png" alt="" width="auto" height="60%">
                </div>
                <div class="col-lg-3">
                    <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                        <img src="images/patient-specific/carnio implants.png" alt="" width="100%" height="auto">
                    </div>
                    <div class="ly-center">
                        <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                            Cranio Maxillofacial Implants
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!--ApplicaTION/medium-->
        <div class="ly-container ly-padding-48 ly-hide-small ly-hide-large ly-hide-xlarge"
            style="background-color: #e5f7f6;">

            <div class="row" style="padding-left: 4%;">
                <div class="col-md-3 ly-padding-top-32">
                    <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                        <img src="images/patient-specific/hip implants.png" alt="" width="100%" height="auto">
                    </div>
                    <div class="ly-center">
                        <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                            Hip Implants
                        </h4>
                    </div>
                </div>
                <div class="col-md-1 ly-center ly-padding-top-32">
                    <img src="images/dental/Rectangle 173.png" alt="" width="auto" height="80%">
                </div>
                <div class="col-md-3 ly-padding-top-32">
                    <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                        <img src="images/patient-specific/shoulder implants.png" alt="" width="100%" height="auto">
                    </div>
                    <div class="ly-center">
                        <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                            Shoulder Implants
                        </h4>
                    </div>
                </div>
                <div class="col-md-1 ly-center ly-padding-top-32">
                    <img src="images/dental/Rectangle 173.png" alt="" width="auto" height="80%">
                </div>
                <div class="col-md-3 ly-padding-top-32">
                    <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                        <img src="images/patient-specific/carnio implants.png" alt="" width="100%" height="auto">
                    </div>
                    <div class="ly-center">
                        <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                            Cranio Maxillofacial Implants
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <!--ApplicaTION/small-->
        <div class="ly-container ly-padding-32 ly-hide-medium ly-hide-large ly-hide-xlarge">

            <div class="row">
                <div class="col-sm-12">
                    <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                        <img src="images/patient-specific/hip implants.png" alt="" width="100%" height="auto">
                    </div>
                    <div class="ly-center">
                        <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                            Hip Implants
                        </h4>
                    </div>
                </div>
                <div class="col-sm-12 ly-center ly-padding-16">
                    <img src="images/patient-specific/Rectangle 283.png" alt="" width="50%" height="auto">
                </div>
                <div class="col-sm-12">
                    <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                        <img src="images/patient-specific/shoulder implants.png" alt="" width="100%" height="auto">
                    </div>
                    <div class="ly-center">
                        <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                            Shoulder Implants
                        </h4>
                    </div>
                </div>
                <div class="col-sm-12 ly-center ly-padding-16">
                    <img src="images/patient-specific/Rectangle 283.png" alt="" width="50%" height="auto">
                </div>
                <div class="col-sm-12">
                    <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                        <img src="images/patient-specific/carnio implants.png" alt="" width="100%" height="auto">
                    </div>
                    <div class="ly-center">
                        <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                            Cranio Maxillofacial Implants
                        </h4>
                    </div>
                </div>
                <div class="col-sm-12 ly-center ly-padding-16">
                    <img src="images/patient-specific/Rectangle 283.png" alt="" width="50%" height="auto">
                </div>
            </div>
        </div>
        <!--Theory/xlarge-->
        <div class="container ly-padding-64 ly-hide-small ly-hide-medium ly-hide-large">
            <div>
                <p class="ly-xlarge" style="text-align:justify;">
                    3D Printed Patient-specific implants offer perfect form, fit and enhanced functionality. They also
                    reduce the time taken for surgical procedures, and in specific cases the recovery time for patients
                    as
                    well. Thus they reduce the cost borne by the patients while improving their clinical outcomes.
                </p>
            </div>
        </div>
        <!--Theory/large-->
        <div class="ly-container ly-padding-48 ly-hide-small ly-hide-medium ly-hide-xlarge">
            <div style="padding: 0 5%;">
                <p class="ly-xlarge" style="text-align:justify;">
                    3D Printed Patient-specific implants offer perfect form, fit and enhanced functionality. They also
                    reduce the time taken for surgical procedures, and in specific cases the recovery time for patients
                    as
                    well. Thus they reduce the cost borne by the patients while improving their clinical outcomes.
                </p>
            </div>
        </div>
        <!--Theory/small-->
        <div class="ly-container ly-padding-32 ly-hide-large ly-hide-xlarge ly-hide-small">
            <div style="padding: 0 5%;">
                <p class="ly-large" style="text-align:justify;">
                    3D Printed Patient-specific implants offer perfect form, fit and enhanced functionality. They also
                    reduce the time taken for surgical procedures, and in specific cases the recovery time for patients
                    as
                    well. Thus they reduce the cost borne by the patients while improving their clinical outcomes.
                </p>
            </div>
        </div>
        <!--Footer-->
        <%- include('./partials/footer.ejs') %>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="bootstrap4/js/bootstrap.min.js"></script>
            <script src="js/aos.js"></script>
            <script>
                AOS.init({
                    duration: 1200,
                })
            </script>
</body>

</html>