<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LYCAN BIO | <%=title%></title>
    <link rel="icon" href="images/lycan symbol (2).svg" type="image/x-icon">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/button.css">
    <style>
        body {
            background-color: white;
            font-family: 'Inter';
        }

        .fa-facebook-official,
        .fa-linkedin-square,
        .fa-twitter {
            font-size: 50px
        }

        .intro {
            padding: 35% 5% 0 25%;
        }
    </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <!--landing/xlarge-->
    <div class="ly-display-container ly-padding-top-100 ly-hide-small ly-hide-medium ly-hide-large">
        <div class="row">
            <div class="col-xl-6">
                <div class="intro">
                    <h1 style="font-size: 90px;">
                        Research & Development
                    </h1>
                </div>
            </div>
            <div class="col-xl-6" style="padding: 5% 10% 0 5%;">
                <img src="images/r&d/landing.png" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>
    <!--landing/large-->
    <div class="ly-display-container ly-padding-top-100 ly-hide-small ly-hide-medium ly-hide-xlarge">
        <div class="row">
            <div class="col-lg-6">
                <div style=" padding: 30% 5% 0 20%;">
                    <h1 style="font-size: 70px;">
                        Research & Development
                    </h1>
                </div>
            </div>
            <div class="col-lg-6" style="padding: 2% 15% 0 2%;">
                <img src="images/r&d/landing.png" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>
    <!--landing/medium-->
    <div class="ly-container ly-padding-top-32 ly-hide-small ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-md-6">
                <div style=" padding: 40% 5% 0 12%;">
                    <h1 style="font-size: 50px;">
                        Research & Development
                    </h1>
                </div>
            </div>
            <div class="col-md-6" style="padding: 8% 10% 0 5%;">
                <img src="images/r&d/landing.png" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>
    <!--landing/small-->
    <div class="ly-container ly-padding-top-48 ly-hide-medium ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-sm-12" style="padding: 0% 2% 0 2%;">
                <img src="images/r&d/landing.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-sm-12">
                <div class="ly-center" style=" padding: 0% 5% 0 5%;">
                    <h1 style="font-size: 40px;">
                        Research & Devlopment
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <!--Bio Ink/xlarge-->
    <div class="ly-container ly-padding-top-64 ly-hide-small ly-hide-medium ly-hide-large">
        <div class="row">
            <div class="col-xl-6" style="padding: 2% 5% 0 5%;">
                <img src="images/r&d/bio ink.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-xl-6" style="padding-top: 2%;padding-right: 4%;">
                <div>
                    <h1 style="font-size: 60px;font-weight: 200;letter-spacing: 3px;color: #727272;">
                        BIO-Ink
                    </h1>
                    <div class="ly-padding-top-16">
                        <p class="ly-xlarge" style="text-align:justify;">
                            Several Bio Inks are used in Bio3D Printing to create living tissues by forming
                            multicellular bioprinting building blocks. These Bio Inks allow for precise control over
                            cells, and spatial distribution of cells and biomolecules within the 3D Printed Bio
                            Scaffold.
                            In addition to bio compatibility there are a number of desirable material properties of a
                            Bio Ink to ensure that the cells receive sufficient nutrients and cellular encapsulations,
                            and also facilitate high gelation rate, printability, antibacterial properties, cross
                            linking, cell adhesion and proliferation.
                            We are involved in the development of Bio Inks for novel applications.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Bio Ink/large-->
    <div class="ly-container ly-padding-top-64 ly-hide-small ly-hide-medium ly-hide-xlarge">
        <div class="row">
            <div class="col-lg-6" style="padding: 2% 5% 0 5%;">
                <img src="images/r&d/bio ink.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-lg-6" style="padding-top: 4%;padding-right: 4%;">
                <div>
                    <h1 style="font-size: 50px;font-weight: 200;letter-spacing: 3px;color: #727272;">
                        BIO-Ink
                    </h1>
                    <div class="ly-padding-top-16">
                        <p class="ly-large" style="text-align:left;">
                            Several Bio Inks are used in Bio3D Printing to create living tissues by forming
                            multicellular bioprinting building blocks. These Bio Inks allow for precise control over
                            cells, and spatial distribution of cells and biomolecules within the 3D Printed Bio
                            Scaffold.
                            In addition to bio compatibility there are a number of desirable material properties of a
                            Bio Ink to ensure that the cells receive sufficient nutrients and cellular encapsulations,
                            and also facilitate high gelation rate, printability, antibacterial properties, cross
                            linking, cell adhesion and proliferation.
                            We are involved in the development of Bio Inks for novel applications.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Bio Ink/medium-->
    <div class="ly-container ly-padding-top-16 ly-hide-small ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-md-6" style="padding: 2% 2% 0 2%;">
                <div class="ly-center">
                    <h1 style="font-size: 50px;font-weight: 200;letter-spacing: 3px;color: #727272;">
                        BIO-Ink
                    </h1>
                </div>
                <div class="ly-image ly-padding-16">
                    <img src="images/r&d/bio ink.png" alt="" width="100%" height="auto">
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="ly-padding-top-64">
                        <p class="ly-medium" style="text-align:justify;">
                            Several Bio Inks are used in Bio3D Printing to create living tissues by forming
                            multicellular bioprinting building blocks. These Bio Inks allow for precise control over
                            cells, and spatial distribution of cells and biomolecules within the 3D Printed Bio
                            Scaffold.
                            In addition to bio compatibility there are a number of desirable material properties of a
                            Bio Ink to ensure that the cells receive sufficient nutrients and cellular encapsulations,
                            and also facilitate high gelation rate, printability, antibacterial properties, cross
                            linking, cell adhesion and proliferation.
                            We are involved in the development of Bio Inks for novel applications.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Bio Ink/small-->
    <div class="ly-container ly-padding-top-32 ly-hide-medium ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-sm-12" style="padding: 2% 2% 0 2%;">
                <div class="ly-center">
                    <h1 style="font-size: 40px;font-weight: 200;letter-spacing: 3px;color: #727272;">
                        Bio-Ink
                    </h1>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ly-image ly-padding-16">
                    <img src="images/r&d/bio ink.png" alt="" width="100%" height="auto">
                </div>
            </div>
            <div class="col-sm-12">
                <div>
                    <div class="ly-padding-top-16 ly-row-padding ">
                        <p class="ly-large" style="text-align:justify;">
                            Several Bio Inks are used in Bio3D Printing to create living tissues by forming
                            multicellular bioprinting building blocks. These Bio Inks allow for precise control over
                            cells, and spatial distribution of cells and biomolecules within the 3D Printed Bio
                            Scaffold.
                            In addition to bio compatibility there are a number of desirable material properties of a
                            Bio Ink to ensure that the cells receive sufficient nutrients and cellular encapsulations,
                            and also facilitate high gelation rate, printability, antibacterial properties, cross
                            linking, cell adhesion and proliferation.
                            We are involved in the development of Bio Inks for novel applications.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--drug/xlarge-->
    <div class="ly-container ly-padding-top-64 ly-hide-small ly-hide-medium ly-hide-large">
        <div class="row">
            <div class="col-xl-6" style="padding: 2% 5% 0 5%;">
                <div class="ly-right">
                    <h1 style="font-size: 60px;font-weight: 200;letter-spacing: 3px;color: #727272;">
                        Personalised Medicine
                    </h1>
                </div>
                <div class="ly-padding-top-16 ly-left">
                    <p class="ly-xlarge" style="text-align:justify;">
                        Personalised medicine is the future of healthcare, and the use of additive manufacturing
                        technology is bound to revolutionise the pharmaceutical sector. The use of patient specific
                        drugs offers complete control over genomics suitability, dosage, and drug release, avoiding
                        issues of undesirable side effects.
                        The use of 3D Printed drugs would enable integration of multiple medications into a single
                        polypill for patients with complicated medical regimens from small molecule compounds to large
                        molecules and biologics. There would be an overall reduction in the amount of active
                        pharmaceutical ingredients used during formulation, and could lead to decentralised, on-demand
                        production.

                    </p>
                </div>
            </div>
            <div class="col-xl-6" style="padding: 2% 5% 0 5%;">
                <img src="images/r&d/drug delivery.png" alt="" width="100%" height="auto">
            </div>

        </div>
    </div>
    <!--drug/large-->
    <div class="ly-container ly-padding-top-64 ly-hide-small ly-hide-medium ly-hide-xlarge">
        <div class="row">
            <div class="col-lg-6" style="padding: 4% 4% 0 4%;">
                <div class="ly-right">
                    <h1 style="font-size: 60px;font-weight: 200;letter-spacing: 3px;color: #727272;">
                        Personalised Medicine
                    </h1>
                </div>
                <div class="ly-padding-top-16 ly-left">
                    <p class="ly-large" style="text-align:justify;">
                        Personalised medicine is the future of healthcare, and the use of additive manufacturing
                        technology is bound to revolutionise the pharmaceutical sector. The use of patient specific
                        drugs offers complete control over genomics suitability, dosage, and drug release, avoiding
                        issues of undesirable side effects.
                        The use of 3D Printed drugs would enable integration of multiple medications into a single
                        polypill for patients with complicated medical regimens from small molecule compounds to large
                        molecules and biologics. There would be an overall reduction in the amount of active
                        pharmaceutical ingredients used during formulation, and could lead to decentralised, on-demand
                        production.
                    </p>
                </div>
            </div>
            <div class="col-lg-6" style="padding: 2% 5% 0 5%;">
                <img src="images/r&d/drug delivery.png" alt="" width="100%" height="auto">
            </div>

        </div>
    </div>
    <!--drug/medium-->
    <div class="ly-container ly-padding-top-64 ly-hide-small ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <div class="ly-padding-top-48">
                        <p class="ly-medium" style="text-align:justify;">
                            Personalised medicine is the future of healthcare, and the use of additive manufacturing
                            technology is bound to revolutionise the pharmaceutical sector. The use of patient specific
                            drugs offers complete control over genomics suitability, dosage, and drug release, avoiding
                            issues of undesirable side effects.
                            The use of 3D Printed drugs would enable integration of multiple medications into a single
                            polypill for patients with complicated medical regimens from small molecule compounds to
                            large
                            molecules and biologics. There would be an overall reduction in the amount of active
                            pharmaceutical ingredients used during formulation, and could lead to decentralised,
                            on-demand
                            production.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding: 1% 2% 0 2%;">
                <div class="ly-center">
                    <h1 style="font-size: 50px;font-weight: 200;letter-spacing: 3px;color: #727272;">
                        Personalised Medicine
                    </h1>
                </div>
                <div class="ly-image ly-padding-16">
                    <img src="images/r&d/drug delivery.png" alt="" width="100%" height="auto">
                </div>
            </div>
        </div>
    </div>
    <!--Drud Delivery/small-->
    <div class="ly-container ly-padding-top-32 ly-hide-medium ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-sm-12" style="padding: 2% 2% 0 2%;">
                <div class="ly-center">
                    <h1 style="font-size: 40px;font-weight: 200;letter-spacing: 3px;color: #727272;">
                        Personalised Medicine
                    </h1>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ly-image ly-padding-16">
                    <img src="images/r&d/drug delivery.png" alt="" width="100%" height="auto">
                </div>
            </div>
            <div class="col-sm-12">
                <div>
                    <div class="ly-padding-top-16 ly-row-padding">
                        <p class="ly-large" style="text-align:justify;">
                            Personalised medicine is the future of healthcare, and the use of additive manufacturing
                            technology is bound to revolutionise the pharmaceutical sector. The use of patient specific
                            drugs offers complete control over genomics suitability, dosage, and drug release, avoiding
                            issues of undesirable side effects.
                            The use of 3D Printed drugs would enable integration of multiple medications into a single
                            polypill for patients with complicated medical regimens from small molecule compounds to
                            large
                            molecules and biologics. There would be an overall reduction in the amount of active
                            pharmaceutical ingredients used during formulation, and could lead to decentralised,
                            on-demand
                            production.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Reach Us/xlarge-->
    <div class=" ly-display-conatiner ly-padding-64 ly-hide-small ly-hide-medium ly-hide-large">
        <div class="row">
            <div class="col-xl-8 ly-center" style="padding-left: 80px;">
                <img src="images/r&d/Group 2202.png" alt="" width="100%" height="auto" data-aos=fade-right>
            </div>
            <div class="col-xl-4 ly-center">
                <a href="/contact"><button class="glow-on-hover" type="button"
                        style="box-shadow:0 6px 8px 0 #0dd8d8;margin: 40% auto;">Reach Us</button></a>
            </div>
        </div>
    </div>
    <!--Reach Us/large-->
    <div class=" ly-display-conatiner ly-padding-32 ly-hide-small ly-hide-medium ly-hide-xlarge">
        <div class="row">
            <div class="col-lg-8 ly-center" style="padding-left: 50px;">
                <img src="images/r&d/Group 2202.png" alt="" width="100%" height="auto" data-aos=fade-right>
            </div>
            <div class="col-lg-4 ly-center">
                <a href="/contact"><button class="glow-on-hover" type="button"
                        style="box-shadow:0 6px 8px 0 #0dd8d8;margin: 40% auto;">Reach Us</button></a>
            </div>
        </div>
    </div>
    <!--Reach Us/Medium-->
    <div class=" ly-container ly-padding-64 ly-hide-small ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-md-8 ly-center">
                <img src="images/r&d/Group 2202.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-md-4 ly-left">
                <a href="/contact"><button class="glow-on-hover" type="button"
                        style="box-shadow:0 6px 8px 0 #0dd8d8;margin: 35% auto;">Reach Us</button></a>
            </div>
        </div>
    </div>
    <!--Reach Us/small-->
    <div class="ly-container ly-padding-top-32 ly-hide-large ly-hide-medium ly-hide-xlarge">
        <div class="row">
            <div class="col-sm-12">
                <img src="images/r&d/contact-mob.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-sm-12 ly-center ly-padding-32">
                <a href="/contact"><button class="glow-on-hover" type="button"
                        style="box-shadow:0 6px 8px 0 #0dd8d8">Reach Us</button></a>
            </div>
        </div>
    </div>

    <!--Footer-->
    <%- include('./partials/footer.ejs') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="bootstrap4/js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        })
    </script>
</body>

</html>