<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LYCAN BIO | <%=title%></title>
    <link rel="icon" href="images/lycan symbol (2).svg" type="image/x-icon">
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bootstrap4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <style>
        body {
            background-color: white;
            font-family: 'Inter';
        }

        .fa-facebook-official,
        .fa-linkedin-square,
        .fa-twitter {
            font-size: 50px
        }
    </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <!---->
    <div class="ly-display-container ly-padding-top-128 ly-hide-small">
        <img src="images/samridhi/landing img.png" alt="" width="100%" height="auto" />
    </div>
    <!--intro para/xlarge-->
    <div class="ly-display-container ly-padding-8 ly-hide-large ly-hide-medium ly-hide-small">
        <div class="ly-center">
            <h1 style="
            font-size: 110px;
            font-weight: 400;
            letter-spacing: 3px;
            color: black;
          ">
                Samridhi
            </h1>
            <h3 class="ly-padding-top-16" style="color: #727272;font-weight: 300;">A Point of Care Lab</h3>
            <div class="ly-image ly-center" style="padding: 0 32%">
                <img src="images/samridhi/Rectangle 121.png" alt="" width="100%" height="auto" />
            </div>
            <div class="container ly-content ly-center ly-padding-top-16">
                <p class="ly-xlarge" style="text-align: center">
                    Our Point-of-Care labs are facilities that aid doctors in making
                    critical medical decisions in a timely manner through an advanced
                    medical imaging process and 3D Printing of case-specific anatomical
                    models.
                </p>
            </div>
        </div>
    </div>
    <!--intro para/large-->
    <div class="ly-display-container ly-padding-8 ly-hide-xlarge ly-hide-medium ly-hide-small">
        <div class="ly-center">
            <h1 style="
            font-size: 90px;
            font-weight: 400;
            letter-spacing: 3px;
            color: black;
          ">
                Samridhi
            </h1>
            <h3 style="color: #727272;font-weight: 300;">A Point of Care Lab</h3>
            <div class="ly-image ly-center" style="padding: 0 32%">
                <img src="images/samridhi/Rectangle 121.png" alt="" width="100%" height="auto" />
            </div>
            <div class="ly-content ly-center ly-padding-top-24">
                <p class="ly-xlarge" style="text-align: center">
                    Our Point-of-Care labs are facilities that aid doctors in making
                    critical medical decisions in a timely manner through an advanced
                    medical imaging process and 3D Printing of case-specific anatomical
                    models.
                </p>
            </div>
        </div>
    </div>
    <!--intro parax/Medium-->
    <div class="ly-display-container ly-padding-8 ly-hide-large ly-hide-xlarge ly-hide-small">
        <div class="ly-center">
            <h1 style="
            font-size: 70px;
            font-weight: 400;
            letter-spacing: 3px;
            color: black;
          ">
                Samridhi
            </h1>
            <h4 class="ly-padding-top-16" style="color: #727272;font-weight: 300;">A Point of Care Lab</h4>
            <div class="ly-image ly-center" style="padding: 0 30%">
                <img src="images/samridhi/Rectangle 121.png" alt="" width="100%" height="auto" />
            </div>
            <div class="ly-content ly-center ly-padding-top-16">
                <p class="ly-large" style="text-align: center">
                    Our Point-of-Care labs are facilities that aid doctors in making
                    critical medical decisions in a timely manner through an advanced
                    medical imaging process and 3D Printing of case-specific anatomical
                    models.
                </p>
            </div>
        </div>
    </div>
    <!--intro parax/small-->
    <div class="ly-container ly-hide-large ly-hide-xlarge ly-hide-medium ly-padding-top-64">
        <div class="ly-center">
            <h1 style="
            font-size: 60px;
            font-weight: 400;
            letter-spacing: 3px;
            color: black;
          ">
                Samridhi
            </h1>
            <h4 class="ly-padding-top-16" style="color: #727272;font-weight: 300;">A Point of Care Lab</h4>
            <div class="ly-padding-top-24 ly-image">
                <img src="images/samridhi/landing img mob.png" alt="" width="100%" height="auto" />
            </div>
            <div class="ly-image ly-center" style="padding: 3% 30%">
                <img src="images/samridhi/Rectangle 121.png" alt="" width="100%" height="auto" />
            </div>
            <div class="ly-container">
                <p class="ly-justify ly-large">
                    Our Point-of-Care labs are facilities that aid doctors in making
                    critical medical decisions in a timely manner through an advanced
                    medical imaging process and 3D Printing of case-specific anatomical
                    models.
                </p>
            </div>
        </div>
    </div>

    <!--Scope of activity/xlarge-->
    <div class="ly-container ly-padding-top-32 ly-hide-small ly-hide-medium ly-hide-large"
        style="background-color: #f5f5f5;">
        <div class="ly-container ly-center">
            <h1 style="
            font-size: 90px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #727272;
            padding: 0 10%;
          ">
                Samridhi labs are equipped with the following solutions:
            </h1>
        </div>
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-4 ly-padding-top-32">
                <img src="images/samridhi/scope of activity 1.png" alt="" width="100%" height="auto" />
                <div class="ly-content ly-center">
                    <h2 style="padding: 0 16px">DICOM to 3D Modelling</h2>
                </div>
                <div class="ly-image ly-center" style="padding: 4% 32% 2% 32%">
                    <img src="images/samridhi/Rectangle 126.png" alt="" width="100%" height="auto" />
                </div>
                <div class="ly-content ly-center ly-padding-top-16" style="padding: 0 10%">
                    <p class="ly-xlarge">
                        3D modelling software which uses data from Digital Imaging and
                        Communications in Medicine (DICOM) standard files to render
                        accurate 3-dimensional views of the patient anatomy. This can then
                        be comprehensively viewed and analysed using Virtual Reality or
                        on-screen.
                    </p>
                </div>
            </div>
            <div class="col-xl-2 ly-padding-top-48">
                <div class="ly-image ly-center">
                    <img src="images/samridhi/center line.png" alt="" width="auto" height="100%" />
                </div>
            </div>
            <div class="col-xl-4 ly-padding-top-32">
                <img src="images/samridhi/scope of activity 2.png" alt="" width="100%" height="auto" />
                <div class="ly-content ly-center">
                    <h2 style="padding: 0 16px">Case-specific anatomical models</h2>
                </div>
                <div class="ly-image ly-center" style="padding: 4% 32% 2% 32%">
                    <img src="images/samridhi/Rectangle 126.png" alt="" width="100%" height="auto" />
                </div>
                <div class="ly-content ly-center ly-padding-top-16" style="padding: 0 10%">
                    <p class="ly-xlarge">
                        3D Printers designed for accurate production of organic designs
                        provide accurate anatomical models within a span of hours. These
                        help with making crucial decisions on medical matters in a highly
                        informed & speedy manner, improving the life-saving services that
                        medical institutions provide.
                    </p>
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
    </div>
    <!--Scope of activity/large-->
    <div class="ly-container ly-padding-top-32 ly-hide-small ly-hide-medium ly-hide-xlarge"
        style="background-color: #f5f5f5;">
        <div class="ly-container ly-center">
            <h1 style="
            font-size: 70px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #727272;
          ">
                Samridhi labs are equipped with the following solutions:
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 ly-padding-top-32">
                <img src="images/samridhi/scope of activity 1.png" alt="" width="100%" height="auto" />
                <div class="ly-content ly-center">
                    <h3 style="padding: 0 16px">DICOM to 3D Modelling</h3>
                </div>
                <div class="ly-image ly-center" style="padding: 4% 32% 2% 32%">
                    <img src="images/samridhi/Rectangle 126.png" alt="" width="100%" height="auto" />
                </div>
                <div class="ly-content ly-center ly-padding-top-16" style="padding: 0 10%">
                    <p class="ly-large">
                        3D modelling software which uses data from Digital Imaging and
                        Communications in Medicine (DICOM) standard files to render
                        accurate 3-dimensional views of the patient anatomy. This can then
                        be comprehensively viewed and analysed using Virtual Reality or
                        on-screen.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 ly-padding-top-48">
                <div class="ly-image ly-center">
                    <img src="images/samridhi/center line.png" alt="" width="auto" height="100%" />
                </div>
            </div>
            <div class="col-lg-4 ly-padding-top-32">
                <img src="images/samridhi/scope of activity 2.png" alt="" width="100%" height="auto" />
                <div class="ly-content ly-center">
                    <h3 style="padding: 0 16px">Case-specific anatomical models</h3>
                </div>
                <div class="ly-image ly-center" style="padding: 4% 32% 2% 32%">
                    <img src="images/samridhi/Rectangle 126.png" alt="" width="100%" height="auto" />
                </div>
                <div class="ly-content ly-center ly-padding-top-16" style="padding: 0 10%">
                    <p class="ly-large">
                        3D Printers designed for accurate production of organic designs
                        provide accurate anatomical models within a span of hours. These
                        help with making crucial decisions on medical matters in a highly
                        informed & speedy manner, improving the life-saving services that
                        medical institutions provide.
                    </p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <!--Scope of activity/medium-->
    <div class="ly-container ly-padding-top-32 ly-hide-small ly-hide-large ly-hide-xlarge"
        style="background-color: #f5f5f5;">
        <div class="ly-container ly-center">
            <h1 style="
            font-size: 50px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #727272;
          ">
                Samridhi labs are equipped with the following solutions:
            </h1>
        </div>
        <div class="row">
            <div class="col-md-5 ly-padding-top-32">
                <img src="images/samridhi/scope of activity 1.png" alt="" width="100%" height="auto" />
                <div class="ly-content ly-center">
                    <h3 style="padding: 0 16px">DICOM to 3D Modelling</h3>
                </div>
                <div class="ly-image ly-center" style="padding: 4% 32%">
                    <img src="images/samridhi/Rectangle 126.png" alt="" width="100%" height="auto" />
                </div>
                <div class="ly-content ly-center ly-padding-top-16" style="padding: 0 10%">
                    <p class="ly-medium">
                        3D modelling software which uses data from Digital Imaging and
                        Communications in Medicine (DICOM) standard files to render
                        accurate 3-dimensional views of the patient anatomy. This can then
                        be comprehensively viewed and analysed using Virtual Reality or
                        on-screen.
                    </p>
                </div>
            </div>
            <div class="col-md-2 ly-padding-top-48">
                <div class="ly-image ly-center">
                    <img src="images/samridhi/center line.png" alt="" width="auto" height="100%" />
                </div>
            </div>
            <div class="col-md-5 ly-padding-top-32">
                <img src="images/samridhi/scope of activity 2.png" alt="" width="100%" height="auto" />
                <div class="ly-content ly-center">
                    <h3 style="padding: 0 16px">Case-specific anatomical models</h3>
                </div>
                <div class="ly-image ly-center" style="padding: 2% 32%">
                    <img src="images/samridhi/Rectangle 126.png" alt="" width="100%" height="auto" />
                </div>
                <div class="ly-content ly-center ly-padding-top-16" style="padding: 0 10%">
                    <p class="ly-medium">
                        3D Printers designed for accurate production of organic designs
                        provide accurate anatomical models within a span of hours. These
                        help with making crucial decisions on medical matters in a highly
                        informed & speedy manner, improving the life-saving services that
                        medical institutions provide.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Scope of activity/small-->
    <div class="ly-container ly-padding-top-32 ly-hide-medium ly-hide-large ly-hide-xlarge">
        <div class="ly-center ly-padding-16" style="background-color: #1e354a;">
            <h1 style="
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 1px;
            color: #ffffff;
          ">
                Samridhi labs are equipped with the following solutions:
            </h1>
        </div>
        <div class="row">
            <div class="col-sm-12 ly-padding-top-32">
                <img src="images/samridhi/scope of activity 1.png" alt="" width="100%" height="auto" />
                <div class="ly-content ly-center">
                    <h3 style="padding: 0 16px">DICOM to 3D Modelling</h3>
                </div>
                <div class="ly-image ly-center" style="padding: 4% 32%">
                    <img src="images/samridhi/Rectangle 126.png" alt="" width="100%" height="auto" />
                </div>
                <div class="ly-content ly-center ly-padding-top-16">
                    <p class="ly-large ly-justify">
                        3D modelling software which uses data from Digital Imaging and
                        Communications in Medicine (DICOM) standard files to render
                        accurate 3-dimensional views of the patient anatomy. This can then
                        be comprehensively viewed and analysed using Virtual Reality or
                        on-screen.
                    </p>
                </div>
            </div>
            <div class="col-sm-12" style="padding: 8% 15%">
                <img src="images/samridhi/Rectangle 283.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-sm-12">
                <img src="images/samridhi/scope of activity 2.png" alt="" width="100%" height="auto" />
                <div class="ly-content ly-center">
                    <h3 style="padding: 0 16px">Case-specific anatomical models</h3>
                </div>
                <div class="ly-image ly-center" style="padding: 3% 32% 0 32%">
                    <img src="images/samridhi/Rectangle 126.png" alt="" width="100%" height="auto" />
                </div>
                <div class="ly-content ly-center ly-padding-top-16">
                    <p class="ly-large ly-justify">
                        3D Printers designed for accurate production of organic designs
                        provide accurate anatomical models within a span of hours. These
                        help with making crucial decisions on medical matters in a highly
                        informed & speedy manner, improving the life-saving services that
                        medical institutions provide.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--para/large-->
    <div class="ly-display-ontainer ly-padding-48 ly-center ly-hide-small"
        style="padding: 0 5%;background-color: #f5f5f5;">
        <img src="images/samridhi/intro para.png" alt="" width="100%" height="auto" />
    </div>
    <!--para/small-->
    <div class="ly-display-container ly-center ly-hide-medium ly-hide-large ly-hide-xlarge"
        style="background-color: rgb(234,238,243);">
        <img src="images/samridhi/intro-para mob.png" alt="" width="100%" height="auto" />
    </div>

    <!--benefits/large-->
    <div class="ly-display-conainer ly-hide-small">
        <div class="ly-container ly-center ly-hide-large ly-hide-medium ly-padding-top-48">
            <h1 style="
            font-size: 90px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #727272;
          ">
                Benefits of 3D Printed Medical Aids
            </h1>
        </div>
        <div class="ly-container ly-center ly-hide-medium ly-hide-xlarge ly-padding-top-48">
            <h1 style="
            font-size: 70px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #727272;
          ">
                Benefits of 3D Printed Medical Aids
            </h1>
        </div>
        <div class="ly-container ly-center ly-hide-large ly-hide-xlarge">
            <h1 style="
            font-size: 50px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #727272;
          ">
                Benefits of 3D Printed Medical Aids
            </h1>
        </div>
        <div class="ly-image ly-padding-top-32" style="padding: 0 5%">
            <img src="images/samridhi/benifits desktop.png" alt="" width="100%" height="auto" />
        </div>
    </div>

    <!--benefits/small-->
    <div class="ly-conainer ly-hide-large ly-hide-xlarge ly-hide-medium" style="margin-top: 4%;">
        <div class="ly-center ly-padding-top-16 ly-row-padding">
            <h1 style="
            font-size: 40px;
            font-weight: 400;
            letter-spacing: 1px;
            color: #727272;
          ">
                Benefits of 3D Printed Medical Aids
            </h1>
        </div>

        <div class="ly-image ly-padding-top-16" style="padding: 0 5%;">
            <div data-aos=slide-right>
                <img src="images/samridhi/benefits mobile 1.png" alt="" width="100%" height="auto" />
            </div>
        </div>
        <div class="ly-image ly-padding-top-16" style="padding: 0 5%;">
            <div data-aos=slide-right>
                <img src="images/samridhi/benefits mobile 2.png" alt="" width="100%" height="auto" />
            </div>
        </div>
        <div class="ly-image ly-padding-top-16" style="padding: 0 5%;">
            <div data-aos=slide-right>
                <img src="images/samridhi/benefits mobile 3.png" alt="" width="100%" height="auto" />
            </div>
        </div>
    </div>

    <!--flowchart/Large-->
    <div class="ly-display-conainer ly-hide-small">
        <div class="ly-container ly-center ly-hide-large ly-hide-medium ly-padding-64">
            <h1 style="
            font-size: 90px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #727272;
          ">
                Process Flow of work at Samridhi Labs
            </h1>
        </div>
        <div class="ly-container ly-center ly-hide-medium ly-hide-xlarge ly-padding-48">
            <h1 style="
            font-size: 70px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #727272;
          ">
                Process Flow of work at Samridhi Labs
            </h1>
        </div>
        <div class="ly-container ly-center ly-hide-large ly-hide-xlarge">
            <h1 style="
            font-size: 50px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #727272;
          ">
                Process Flow of work at Samridhi Labs
            </h1>
        </div>
        <div class="ly-image ly-padding-32" style="padding: 0 5%">
            <img src="images/samridhi/processflow.jpg" alt="" width="100%" height="auto" />
        </div>
    </div>
    <!--flowchart/small-->
    <div class="ly-conainer ly-hide-medium ly-hide-large ly-hide-xlarge ly-padding-top-32">
        <div class="ly-center">
            <h1 style="
            font-size: 40px;
            font-weight: 400;
            letter-spacing: 1px;
            color: #727272;
          ">
                Process Flow of work at Samridhi Labs
            </h1>
        </div>
        <div class="ly-image ly-padding-16" style="padding: 0 5%">
            <img src="images/samridhi/process-mob.png" alt="" width="100%" height="auto" />
        </div>
    </div>
    <!--Footer-->
    <%- include('./partials/footer.ejs') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="bootstrap4/js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        });
    </script>
</body>

</html>