<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LYCAN BIO | <%=title%></title>
    <link rel="icon" href="images/lycan symbol (2).svg" type="image/x-icon">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <style>
        body {
            background-color: white;
            font-family: 'Inter';
        }

        .fa-facebook-official,
        .fa-linkedin-square,
        .fa-twitter {
            font-size: 50px
        }
    </style>
</head>

<body>

    <%- include('./partials/nav.ejs') %>

    <!--landing/xlarge-->
    <div class="ly-display-container ly-padding-top-100 ly-hide-small ly-hide-medium ly-hide-large">
        <div class="row">
            <div class="col-xl-6" style="padding: 7% 0% 0 0%;">
                <img src="images/Surgical glides/landing img.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-xl-6" style="padding: 10% 5% 0 3%;">
                <div>
                    <h1 style="font-size: 90px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Surgical Guides
                    </h1>
                </div>
                <div class="ly-padding-top-48">
                    <p class="ly-xlarge" style="text-align:justify;">
                        3D Printing technology is an excellent assistant to talented surgeons undertaking complicated
                        procedures. Personalised surgical guides are particularly useful since they are case-specific,
                        and help the surgeons precisely understand the planned positions and intervention angles for
                        each surgery. The printing of these parts is extremely affordable and provides a high
                        cost-benefit ratio, as well as improved surgical outcomes.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--landing/large-->
    <div class="ly-display-container ly-padding-top-128 ly-hide-small ly-hide-medium ly-hide-xlarge">
        <div class="row">
            <div class="col-lg-6" style="padding: 3% 0% 0 2%;">
                <img src="images/Surgical glides/landing img.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-lg-6" style="padding: 1% 5% 0 3%;">
                <div>
                    <h1 style="font-size: 70px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Surgical Guides
                    </h1>
                </div>
                <div class="ly-padding-top-48">
                    <p class="ly-xlarge" style="text-align:justify;">
                        3D Printing technology is an excellent assistant to talented surgeons undertaking complicated
                        procedures. Personalised surgical guides are particularly useful since they are case-specific,
                        and help the surgeons precisely understand the planned positions and intervention angles for
                        each surgery. The printing of these parts is extremely affordable and provides a high
                        cost-benefit ratio, as well as improved surgical outcomes.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--landing/medium-->
    <div class="container-fluid ly-padding-top-48 ly-hide-small ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-md-6 ly-center ly-padding-top-150">
                <img src="images/Surgical glides/landing img.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-md-6" style="padding: 5% 7% 0 0%;">
                <div>
                    <h1 style="font-size: 50px;font-weight: 400;letter-spacing: 3px;color: #727272;">
                        Surgical Guides
                    </h1>
                </div>
                <div class="ly-padding-top-24">
                    <p class="ly-large" style="text-align:justify;">
                        3D Printing technology is an excellent assistant to talented surgeons undertaking complicated
                        procedures. Personalised surgical guides are particularly useful since they are case-specific,
                        and help the surgeons precisely understand the planned positions and intervention angles for
                        each surgery. The printing of these parts is extremely affordable and provides a high
                        cost-benefit ratio, as well as improved surgical outcomes.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--landing/small-->
    <div class="container-fluid ly-padding-top-100 ly-hide-medium ly-hide-large ly-hide-xlarge">
        <div class="row">
            <div class="col-sm-12 ly-center">
                <img src="images/Surgical glides/landing img.png" alt="" width="100%" height="auto">
            </div>
            <div class="col-sm-12" style="padding: 5% 7% 0 0%;">
                <div class="ly-center">
                    <h1 style="font-size: 40px;font-weight: 400;letter-spacing: 1px;color: #727272;">
                        Surgical Guides
                    </h1>
                </div>
                <div class="ly-padding-top-24" style="padding: 0 5%;">
                    <p class="ly-large" style="text-align:justify;">
                        3D Printing technology is an excellent assistant to talented surgeons undertaking complicated
                        procedures. Personalised surgical guides are particularly useful since they are case-specific,
                        and help the surgeons precisely understand the planned positions and intervention angles for
                        each surgery. The printing of these parts is extremely affordable and provides a high
                        cost-benefit ratio, as well as improved surgical outcomes.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--ApplicaTION/XLARGE-->
    <div class="ly-display-container ly-padding-64 ly-hide-small ly-hide-medium ly-hide-large"
        style="background-color: #e5f7f6;margin-top: 6%;">
        <div class="ly-container ly-center">
            <h1 style="font-size: 55px;font-weight: 200;letter-spacing: 1px;color: #727272;">
                Some applications of customised surgical guides are:
            </h1>
        </div>
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-4">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/Surgical glides/hip guide.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Hip Guides
                    </h3>
                </div>
            </div>
            <div class="col-xl-2">
            </div>
            <div class="col-xl-4">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/Surgical glides/keen guide.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Knee Guides
                    </h3>
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-4">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/Surgical glides/shoulder guide.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Shoulder Guides
                    </h3>
                </div>
            </div>
            <div class="col-xl-2">
            </div>
            <div class="col-xl-4">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/Surgical glides/osteotomy guide.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Osteotomy Guides
                    </h3>
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
    </div>
    <!--ApplicaTION/LARGE-->
    <div class="ly-display-container ly-padding-64 ly-hide-small ly-hide-medium ly-hide-xlarge"
        style="background-color: #e5f7f6;margin-top: 6%;">
        <div class="ly-container ly-center">
            <h1 style="font-size: 40px;font-weight: 200;letter-spacing: 1px;color: #727272;">
                Some applications of customised surgical guides are:
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/Surgical glides/hip guide.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Hip Guides
                    </h3>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/Surgical glides/keen guide.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Knee Guides
                    </h3>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/Surgical glides/shoulder guide.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Shoulder Guides
                    </h3>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/Surgical glides/osteotomy guide.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Osteotomy Guides
                    </h3>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <!--ApplicaTION/medium-->
    <div class="ly-container ly-padding-64 ly-hide-small ly-hide-large ly-hide-xlarge"
        style="background-color: #e5f7f6;margin-top: 6%;">
        <div class="ly-container ly-center">
            <h1 style="font-size: 30px;font-weight: 200;letter-spacing: 1px;color: #727272;">
                Some applications of customised surgical guides are:
            </h1>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <img src="images/Surgical glides/hip guide.png" alt="" width="100%" height="auto">
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Hip Guides
                    </h3>
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <img src="images/Surgical glides/keen guide.png" alt="" width="100%" height="auto">
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Knee Guides
                    </h3>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <img src="images/Surgical glides/shoulder guide.png" alt="" width="100%" height="auto">
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Shoulder Guides
                    </h3>
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <img src="images/Surgical glides/osteotomy guide.png" alt="" width="100%" height="auto">
                <div class="ly-center">
                    <h3 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Osteotomy Guides
                    </h3>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!--ApplicaTION/small-->
    <div class="ly-container ly-padding-32 ly-hide-medium ly-hide-large ly-hide-xlarge"
        style="background-color: #e5f7f6;margin-top: 6%;">
        <div class="row">
            <div class="col-sm-12">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/Surgical glides/hip guide.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Hip Guide
                    </h4>
                </div>
            </div>
            <div class="col-sm-12 ly-center ly-padding-16">
                <img src="images/patient-specific/Rectangle 283.png" alt="" width="50%" height="auto">
            </div>
            <div class="col-sm-12">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/Surgical glides/keen guide.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Knee Guide
                    </h4>
                </div>
            </div>
            <div class="col-sm-12 ly-center ly-padding-16">
                <img src="images/patient-specific/Rectangle 283.png" alt="" width="50%" height="auto">
            </div>
            <div class="col-sm-12">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/Surgical glides/shoulder guide.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Shoulder Guide
                    </h4>
                </div>
            </div>
            <div class="col-sm-12 ly-center ly-padding-16">
                <img src="images/patient-specific/Rectangle 283.png" alt="" width="50%" height="auto">
            </div>
            <div class="col-sm-12">
                <div class="img-hover-zoom img-hover-zoom--zoom-n-rotate">
                    <img src="images/Surgical glides/osteotomy guide.png" alt="" width="100%" height="auto">
                </div>
                <div class="ly-center">
                    <h4 style="font-weight: 400;letter-spacing: 1px;color: #353535;">
                        Osteotomy Guide
                    </h4>
                </div>
            </div>
            <div class="col-sm-12 ly-center ly-padding-16">
                <img src="images/patient-specific/Rectangle 283.png" alt="" width="50%" height="auto">
            </div>
        </div>
    </div>

    <!--Footer-->
    <%- include('./partials/footer.ejs') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="bootstrap4/js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        })
    </script>
</body>

</html>